<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/site.css?q=6" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">

    <script src="../static/javascript/popper.min.js"></script>
    <script src="../static/javascript/jquery-3.2.1.min.js"></script>
    <script src="../static/javascript/bootstrap.bundle.min.js"></script>
    <script src="../static/javascript/bootstrap-select.min.js"></script>
    <script src="../static/javascript/createProject.js?v=16"></script>
</head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-light" style="background-color: #fff; border-bottom: 1px solid #bbb;">
        <div class="container">
            <a class="navbar-brand" id="logo" href="/project">MINDFIRL</a>
            <ul class="nav" style="margin: 0; padding: 0;">
              <li><a class="navbar-brand" href="/guide">About</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="../static/images/site/male.png" class="nav-avatar"></a>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
                <div class="dropdown-menu" style="margin-top: 8px;">
                  <a class="dropdown-item" href="#">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <div style="margin-left: 120px; font-size: 24px;">
            404. That’s an error.

            The requested URL was not found on this server.
        </div>
    </div>

    <footer style="background-color: #f2f2f2;">
        <div class="container">
            <div class="footer-copyright text-center py-3">pinfo@2018 all rights reserved.</div>
        </div>
    </footer>

    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
</body>
</html>