<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/login.css?q=6" type="text/css">
</head>

<body>
    <h1>User list</h1>
    <p>
        <ol>
        {% for user in users %}
            <li>{{ user['username'] }} <a href="#">generate password reset link</a></li>
        {% endfor %}
        </ol>
    </p>
    <div>
        <a href="/logout">log out</a>
    </div>

</body>
</html>