<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/site.css?q=8" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">

    <script src="../static/javascript/popper.min.js"></script>
    <script src="../static/javascript/jquery-3.2.1.min.js"></script>
    <script src="../static/javascript/bootstrap.bundle.min.js"></script>
    <script src="../static/javascript/bootstrap-select.min.js"></script>
    <script src="../static/javascript/createProject_pairfile.js?v=31"></script>
    <script>
        var user_list = [];
        {% for user in data['users'] %}
        user_list.push('{{ user }}');
        {% endfor %}

        var options = [];
        var option_str = '';
        for(i=0; i < user_list.length; i++) {
            options.push(`<option value="${user_list[i]}">${user_list[i]}</option>`);
            option_str += `<option value="${user_list[i]}">${user_list[i]}</option>`;
        }

        function leave() {
            $(window).off("beforeunload");
            needToConfirm = false;
        }

        // warning before leave
        $(document).ready(function() {
            var needToConfirm = false; 
            $(window).on("beforeunload", function() {
                if (needToConfirm) {
                    return "Are you sure? You will lose all the date if you leave!";
                }
            });

            $("input,select,textarea").change(function() {
                needToConfirm = true;
            });
        });
    </script>
</head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-light" style="background-color: #fff; border-bottom: 1px solid #bbb;">
        <div class="container">
            <a class="navbar-brand" id="logo" href="/project">MINDFIRL</a>
            <ul class="nav" style="margin: 0; padding: 0;">
              <li><a class="navbar-brand" href="/guide">About</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="../static/images/site/male.png" class="nav-avatar"></a>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
                <div class="dropdown-menu" style="margin-top: 8px;">
                  <a class="dropdown-item" href="#">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <div class="container" style="min-height: 600px;">
            <div class="row">
                <div class="col-3">
                    <div class="sidenav">
                        <ul class="widget widget-menu">
                            <li><a href="/project"><ion-icon name="speedometer"></ion-icon> <span class="sidebar-text">Dashboard</span></a></li>
                            <li><a href="/project_list" style="background-color: #12313b;"><ion-icon name="folder"></ion-icon> <span class="sidebar-text">Projects</span></a></li>
                            <li><a href="/assignment_list"><ion-icon name="document"></ion-icon> <span class="sidebar-text">Assignments</span></a></li>
                            <li><a href="/guide"><ion-icon name="help-circle"></ion-icon> <span class="sidebar-text">Help</span></a></li>
                        </ul>

                        <ul class="widget widget-menu">
                            <li><a href="#"><ion-icon name="contact"></ion-icon> <span class="sidebar-text">Profile</span></a></li>
                            <li><a href="/logout"><ion-icon name="exit"></ion-icon> <span class="sidebar-text">Log out</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-9">
                    <div class="content" style="min-height: 400px;">
                        <div class="card">
                          <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" href="/createProject">Create by pair-file</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/createProject2">Create by blocking</a>
                              </li>
                            </ul>
                          </div>
                          <div class="card-body">
                                <div class="">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                      {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert {{ category }} alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                      {% endif %}
                                    {% endwith %}
                                    <form action="/saveProject" method="post" onsubmit="return check_form(this)" enctype=multipart/form-data>
                                        <div class="form-label">{{ form.project_name.label }}</div>
                                        {{ form.project_name }} 
                                        <div class="form-error" id="project_name-error">{{ form.project_name.errors.0 }}</div>

                                        <div class="form-label">{{ form.project_des.label }}</div>
                                        {{ form.project_des }}
                                        <div class="form-error">{{ form.project_des.errors.0 }}</div>

                                        <hr/>

                                        <div class="form-label">{{ form.data1.label }}</div>
                                        <div class="file-div custom-file">{{ form.data1 }}<label class="custom-file-label" for="validatedCustomFile">Choose file...</label></div>
                                        <div class="form-error" id="data1-error">{{ form.data1.errors.0 }}</div>

                                        <div class="form-label">{{ form.data2.label }}</div>
                                        <div class="file-div custom-file">{{ form.data2 }}<label class="custom-file-label" for="validatedCustomFile">Choose file...</label></div>
                                        <div class="form-error" id="data2-error">{{ form.data2.errors.0 }}</div>

                                        <div class="form-label">{{ form.data3.label }}</div>
                                        <div class="file-div custom-file">{{ form.data3 }}<label class="custom-file-label" for="validatedCustomFile">Choose file...</label></div>
                                        <div class="form-error" id="data3-error">{{ form.data3.errors.0 }}</div>
                                        
                                        
                                        <hr/>

                                        <div id="assignee_1">
                                            <label class="" for="assignto">Assign to*</label>
                                            <select class="form-control selectpicker" data-live-search="ture" id="assignto_1" name="assignto">
                                                {% for user in data['users'] %}
                                                <option value="{{user}}">{{user}}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="form-group">
                                                Privacy budget*:
                                                <input class="form-control" type="number" placeholder="Privacy budget (%)" step="any" min="0" max="100" name="privacy_budget" id="kapr_1" value="">
                                                <div class="form-error" id="kapr_1-error"></div>
                                                Assignment percentage*:
                                                <input class="form-control" type="number" placeholder="Assignment percentage (%)" step="1" min="0" max="100" name="percentage" id="percentage_1" value="100">
                                                <div class="form-error" id="percentage_1-error"></div>
                                                <label><input type="checkbox" id="full_1" name="full_1" value="full">Fully open</label><br>
                                            </div>
                                        </div>

                                        <div id="add-assignee" style="color: blue; cursor: pointer; margin-top: 5px;">
                                            + <span style="text-decoration: underline;">Add an assignee</span>
                                        </div>

                                        <div style="display: none;">{{ form.assignee_area }}</div>
                                        <div class="form-error" id="kapr-error">{{ form.assignee_area.errors.0 }}</div>

                                        <button type="submit" value="Upload" class="btn btn-primary" style="margin-top: 10px;" onclick="leave();">Create</button>
                                    </form>
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color: #f2f2f2;">
        <div class="container">
            <div class="footer-copyright text-center py-3">pinfo@2018 all rights reserved.</div>
        </div>
    </footer>

    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
</body>
</html>