<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/site.css?q=9" type="text/css">
</head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-light" style="background-color: #fff; border-bottom: 1px solid #bbb;">
        <div class="container">
            <a class="navbar-brand" id="logo" href="/project">MINDFIRL</a>
            <ul class="nav" style="margin: 0; padding: 0;">
              <li><a class="navbar-brand" href="/guide">About</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="../static/images/site/male.png" class="nav-avatar"></a>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
                <div class="dropdown-menu" style="margin-top: 8px;">
                  <a class="dropdown-item" href="#">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <div class="container" style="min-height: 600px;">
            <div class="row">
                <div class="col-3">
                    <div class="sidenav">
                        <ul class="widget widget-menu">
                            <li><a href="/project"><ion-icon name="speedometer"></ion-icon> <span class="sidebar-text">Dashboard</span></a></li>
                            <li><a href="/project_list"><ion-icon name="folder"></ion-icon> <span class="sidebar-text">Projects</span></a></li>
                            <li><a href="/assignment_list"><ion-icon name="document"></ion-icon> <span class="sidebar-text">Assignments</span></a></li>
                            <li><a href="/guide"><ion-icon name="help-circle"></ion-icon> <span class="sidebar-text">Help</span></a></li>
                        </ul>

                        <ul class="widget widget-menu">
                            <li><a href="#"><ion-icon name="contact"></ion-icon> <span class="sidebar-text">Profile</span></a></li>
                            <li><a href="/logout"><ion-icon name="exit"></ion-icon> <span class="sidebar-text">Log out</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-9">
                    <div class="content" style="min-height: 400px;">
                        <div class="card">
                          <div class="card-header">
                            Instruction
                          </div>
                          <div class="card-body">
                                <h2>What is MINDFIRL?</h2>
            <hr/>
            <p>MINDFIRL stands for Minimum & Necessary Disclosure for Interactive Record Linkage. It is a software for interactive record linkage. At the beginning, all the attributes of the records are masked, and you can make record linkage decisions by the aid of supplemental visual markups, as shown in the figure. You can click the attribute to disclose it if you think the information can help you make better decisions. However, openning attributes costs your privacy budget. When the privacy budget reach the limit set by the project manager, you cannot open more attributes.
</p>
<img src="../static/images/guide/1.png" alt="recordlinkage">

<h2>Projects and Assignments</h2>
            <hr/>
            <p>You can create projects and assign the project to others. Your projects are shown in the "My projects" list. By clicking on the project, you can check the detailed information. The "My Assignments" list shows the projects that assigned to you. You can check your progress and privacy budget used. You can start to work on the project by clicking "Go to project".
</p>
<img src="../static/images/guide/2.png" alt="projects">

<h2>Creating projects</h2>
            <hr/>
            <p>You can create project by clicking the "create project" button above. You will need to provide two csv files with following format:<br/>
                <table style="">
  <tr>
    <th>ID</th>
    <th>voter_reg_num</th>
    <th>firstname</th> 
    <th>Lastname</th> 
    <th>DoB</th>
    <th>Gender</th>
    <th>Race</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000000657</td>
    <td>LYNN</td>
    <td>WILDING</td> 
    <td>07/04/1946</td>
    <td>M</td>
    <td>W</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000027594</td>
    <td>CHARLES</td>
    <td>ALBUQUERQUE</td> 
    <td>07/10/1930</td>
    <td>M</td>
    <td>W</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1090353268</td>
    <td>RONNIE</td>
    <td>HILL</td> 
    <td>07/25/1958</td>
    <td>M</td>
    <td>B</td>
  </tr>
</table>
    <br/>
    The first column is internal ID for your database. If two records have the same internal ID, then they must be the same record. However, if two records have different internal ID, they could be the same record or different records. The second column is the id for the data, such as voter registration number or ssn. This id does not indicate two records are the same or different. 
    <br/>
    Then you can choose one or more attributes to block on. Records with same blocking attributes will be group into one block. Then, we will generate record linking candidates for each block.
            </p>


<p>
Then you can choose the user to assign to. You can also set up a privacy budget limit. You can type in percentage of privacy budget limit, or choose among these options: masked, minimum, moderate, full. The "masked" option means no attribute can be opened, and "full" means all the attributes are opened at the beginning. The "minimum" and "moderate" option has around 5% and 40% privacy budget limit, dependent on the data.
</p>
<img src="../static/images/guide/3.png" alt="createprojects">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color: #f2f2f2;">
        <div class="container">
            <div class="footer-copyright text-center py-3">pinfo@2018 all rights reserved.</div>
        </div>
    </footer>

    <script src="../static/javascript/jquery-3.3.1.min.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
</body>
</html>