<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/site.css?q=44" type="text/css">
</head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-light" style="background-color: #fff; border-bottom: 1px solid #bbb;">
        <div class="container">
            <a class="navbar-brand" id="logo" href="/project">MINDFIRL</a>
            <ul class="nav" style="margin: 0; padding: 0;">
              <li><a class="navbar-brand" href="/guide">About</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="../static/images/male.png" class="nav-avatar"></a>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
                <div class="dropdown-menu" style="margin-top: 8px;">
                  <a class="dropdown-item" href="#">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">

        <div class="container-fluid">
            
            <div class="row">

                <div class="col-sm-8">
                    <div class="title-bar" style="height:65px;">
                        <h1 style="float:left;">My projects</h1>
                        <button style="float:right;height:40px;margin-top:9px;background-color: #339933; color:white;" type="button" class="btn create-project-btn" onclick="location.href='/createProject2';"><span>&#43;&nbsp;</span>Create Project</button>
                        <div style="clear:both"></div>
                    </div>
                    <div id="accordion">
                        {% for project in data['projects'] %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#{{ project['pid'] }}">
                                    {{ project['project_name'] }}
                                </a>
                            </div>
                            <div id="{{ project['pid'] }}" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="project-description">
                                        Project description: {{ project['project_des'] }}<br/>
                                        <br/>
                                    </div>
                                    <div class="project-progress">
                                        Overall progress: 
                                        <div class="progress">
                                            <div class="progress-bar" style="width:{{ project['progress'] }}%; background-color: green;">{{ project['progress'] }}%</div>
                                        </div>
                                    </div>
                                    <div class="project-progress">
                                        {{ project['assignee'][0] }} progress: 
                                        <div class="progress">
                                            <div class="progress-bar" style="width:{{ project['progress'] }}%; background-color: #3ca1c3;">{{ project['progress'] }}%</div>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="/viewProjectConfig/{{ project['pid'] }}"><image src="../static/images/site/_ionicons_svg_md-options.svg" alt="config" width="17px" height="17px"> Project settings</a>
                                        {% if project['progress'] >= 100 %}<br/><a href="/get_result/{{ project['pid'] }}.csv"><img src="../static/images/site/_ionicons_svg_md-cloud-download.svg" alt="download" width="18px" height="18px"> Export result</a>{% endif %}
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end of div card -->
                    </div>
                    <!-- end of div accordion -->
                    <hr/>
                    <h1>My Assignments</h1>
                    <div id="accordion2">
                        {% for assignment in data['assignments'] %}
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#assignment-{{ assignment['pid'] }}">
                                    {{ assignment["project_name"] }}
                                </a>
                            </div>
                            <div id="assignment-{{ assignment['pid'] }}" class="collapse" data-parent="#accordion2">
                                <div class="card-body">
                                    <div class="project-description">
                                        Project description: {{ assignment['project_des'] }}<br/>
                                        <br/>
                                    </div>
                                    <div class="project-progress">
                                        My progress: 
                                        <div class="progress">
                                            <div class="progress-bar" style="width:{{ assignment['progress'] }}%;background-color: green;">{{ assignment['progress'] }}%</div>
                                        </div>
                                    </div>
                                    <div class="project-progress">
                                        Privacy budget: 
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-info" style="width:{{ assignment['budget'] }}%">{{ assignment['budget'] }}%</div>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="/record_linkage/{{ assignment['pid'] }}"><img src="../static/images/site/_ionicons_svg_md-arrow-round-forward.svg" alt="go" width="17px" height="17px"> Go to project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end of div card -->
                    </div>
                    <!-- end of div accordion -->
                </div>
                <!-- end of div col-sm-8 -->
                <div class="col-sm-4"></div>
            </div>
            <!-- end of div row -->
        </div>
    </div>

    <script src="../static/javascript/jquery-3.2.1.min.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <script src="../static/javascript/site.js?v=3"></script>
</body>
</html>