<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/site.css?q=68" type="text/css">

    <script>
        function delete_alert() {
            var r = confirm("Are you sure to delete this project? You cannot undo this action.");
            if(r) {
                window.location.href = "/delete/{{ data['project']['pid'] }}";
            }
        }
    </script>
</head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-light" style="background-color: #fff; border-bottom: 1px solid #bbb;">
        <div class="container">
            <a class="navbar-brand" id="logo" href="/project">MINDFIRL</a>
            <ul class="nav" style="margin: 0; padding: 0;">
              <li><a class="navbar-brand" href="/guide">About</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="../static/images/site/male.png" class="nav-avatar"></a>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
                <div class="dropdown-menu" style="margin-top: 8px;">
                  <a class="dropdown-item" href="#">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <div class="container" style="min-height: 600px;">
            <div class="row">
                <div class="col-3">
                    <div class="sidenav">
                        <ul class="widget widget-menu">
                            <li><a href="/project"><ion-icon name="speedometer"></ion-icon> <span class="sidebar-text">Dashboard</span></a></li>
                            <li><a href="/project_list" style="background-color: #12313b;"><ion-icon name="folder"></ion-icon> <span class="sidebar-text">Projects</span></a></li>
                            <li><a href="/assignment_list"><ion-icon name="document"></ion-icon> <span class="sidebar-text">Assignments</span></a></li>
                            <li><a href="/guide"><ion-icon name="help-circle"></ion-icon> <span class="sidebar-text">Help</span></a></li>
                        </ul>

                        <ul class="widget widget-menu">
                            <li><a href="#"><ion-icon name="contact"></ion-icon> <span class="sidebar-text">Profile</span></a></li>
                            <li><a href="/logout"><ion-icon name="exit"></ion-icon> <span class="sidebar-text">Log out</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-9">
                    <div class="content" style="min-height: 400px;">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert {{ category }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                        <div class="card">
                          <div class="card-header">
                            {{ data['project']['project_name'] }}
                          </div>
                          <div class="card-body">
                                <div class="">
                                    <div class="project-des">
                                        Description: {{ data['project']['project_des'] }}
                                    </div>
                                    
                                    <div>
                                        <a href="/viewProjectConfig/{{ data['project']['pid'] }}"><image src="../static/images/site/_ionicons_svg_md-options.svg" alt="config" width="17px" height="17px"> Project settings</a>
                                        {% if data['project']['progress'] >= 100 %}
                                            {% if data['project']['conflicts'] == 0 %}
                                        <br/><a href="/get_result/{{ data['project']['pid'] }}"><img src="../static/images/site/_ionicons_svg_md-cloud-download.svg" alt="download" width="18px" height="18px"> Export result</a>
                                            {% endif %}
                                            
                                            {% if data['project']['created_by'] == 'blocking' and data['project']['conflicts'] == 0 %}
                                        <br/><a href="/new_blocking/{{ data['project']['pid'] }}"><img src="../static/images/site/_ionicons_svg_md-refresh-circle.svg" alt="download" width="18px" height="18px"> New blocking</a>
                                            {% endif %}

                                            {% if data['project']['conflicts'] == 1 %}
                                        <br/><a href="/resolve_conflicts/{{ data['project']['pid'] }}"><img src="../static/images/site/_ionicons_svg_md-git-merge.svg" alt="download" width="18px" height="18px"> Resolve conflicts</a>
                                            {% endif %}

                                        {% endif %}
                                        <br/>

                                        <a href="#" onclick="delete_alert();" style="color: red;"><image src="../static/images/site/_ionicons_svg_ios-trash.svg" alt="config" width="18px" height="18px"> Delete project</a>
                                    </div>
                                    <br/>

                                    Overall Progress:
                                    <div class="progress" style="height: 10px;">
                                        <div class="progress-bar bg-18414e" role="progressbar" style="width: {{ data['project']['progress'] }}%;" aria-valuenow="{{ data['project']['progress'] }}" aria-valuemin="0" aria-valuemax="100">{{ data['project']['progress'] }}%</div>
                                    </div>
                                    {% for assignee in data['project']['assignee_stat'] %}
                                    Assignee: {{ assignee['assignee'] }} <br/>
                                    <div class="progress" style="height: 10px;">
                                        <div class="progress-bar bg-18414e" role="progressbar" style="width: {{ assignee['progress'] }}%;" aria-valuenow="{{ assignee['progress'] }}" aria-valuemin="0" aria-valuemax="100">{{ assignee['progress'] }}%</div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <form action="/project_list">
                                    <br>
                                    <input type="submit" class="btn btn-primary" value="Back to projects" />
                                </form> 
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color: #f2f2f2;">
        <div class="container">
            <div class="footer-copyright text-center py-3">pinfo@2018 all rights reserved.</div>
        </div>
    </footer>

    <script src="../static/javascript/jquery-3.3.1.min.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
</body>
</html>