<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
        <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" href="../static/css/site.css?q=5" type="text/css">
        <link rel="stylesheet" href="../static/css/style.css?q=63" type="text/css">
        <link rel="stylesheet" href="../static/css/ionicons.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/select.css?q=13" type="text/css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/footer.css" type="text/css">
        <link rel="stylesheet" href="../static/css/animate.min.css">

        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script src="../static/javascript/popper.min.js"></script>
        <script src="../static/javascript/bootstrap.min.js"></script>
        <script src="../static/javascript/site.js"></script>
        <script src="../static/javascript/choice_panel.js?v=8"></script>
        <script src="../static/javascript/clickable.js?v=49"></script>
        <script src="../static/javascript/form_submit.js?v=8"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            $(window).on("beforeunload", function() {
                return "Are you sure? You will lose all the date if you leave!";
            });

            $DELTA = {
            {% for d in data['delta'] %}
                "{{ d[0] }}":{{ d[1]}},
            {% endfor %}
            };
            $KAPR_LIMIT = {{ data['kapr_limit'] }};
            $KAPR = 0;

            $THIS_URL = "{{ data['this_url'] }}";
            $NEXT_URL = "{{ data['this_url'] }}" + '/next';
            $PROJ_URL = "/project";

            $DATA_SIZE = "{{ data['data_size'] }}";

            $user_data = '';

            {% if data['isfull'] == 'true' %}
            setTimeout(function (){
                $('.clickable_cell').each(function() {
                    this.classList.remove("clickable_cell");
                });
                $('.clickable_big_cell').each(function() {
                    this.classList.remove("clickable_big_cell");
                });
            }, 50);
                
            {% endif %}
        </script>
    </head>

    <body style="padding-bottom: 0px; min-height: 0px;">
        <div id="wrapper">
            <div id="title">
                <h3 style="font-size:24px;">{{ data['title'] | safe }}</h3>
            </div>
            
            <div id="content">
                <div class="tool-bar">
                {% if data['isfull'] != 'true' %}
                <div class="privacy-budget-div">
                    <script>
                        $(function() {
                            $("[title]").tooltip({'placement': "bottom"});
                        });
                    </script>
                    <div>Privacy risk: <span id="privacy-risk-value">{{ data['kapr'] }}%</span><span id="privacy-risk-delta-value"></span></div>
                    <div class="progress border">
                        <div style="width: 6px; height: 18px; position: absolute; background: red; margin-left: {{ data['kapr_limit']*16.1 }}px;" title="privacy risk cannot exceed this limit">
                        </div>
                        
                        <div id="privacy-risk-bar" class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ data['kapr'] }}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div id="privacy-risk-delta" class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                {% endif %}

                <div id="page-number" class="page-number-div-meter">
                    page: <span id="page-number">{{ data['page_number'] }}/{{ data['page_size'] }}</span>
                </div>

                
                </div>
                <div style="clear:both"></div>
                <div id="table">
                    <div id="table_head">
                        <div class="table_col1">Pair</div>
                        <div class="table_col2">ID</div>
                        <div class="table_col3">FFreq</div>
                        <div class="table_col4 table_names">First Name</div>
                        <div class="table_col4_5 hidden_element">s</div>
                        <div class="table_col5 table_names">Last Name</div>
                        <div class="table_col6">LFreq</div>
                        <div class="table_col7">DoB(M/D/Y)</div>
                        <div class="table_col8">Sex</div>
                        <div class="table_col9">MI</div>
                        <div class="table_col10">Choice Panel</div>
                    </div>
                    <div id="table_content">
                        {% set ids = data['ids'] %}
                        {% set isfull = data['isfull'] %}
                        {% set icons = data['icons'] %}
                        {% for r in data['data'] %}
                            {% if loop.index is divisibleby 2 %}
                        <div class="table_row table_row_even">
                            {% else %}
                        <div class="table_row table_row_odd">
                            {% endif %}
                            <div class="table_col1 pair_number tooltip1">
                                {{ loop.index0+data['pair_num_base'] }}
                                <span class="tooltiptext1">{{ ids[loop.index0][0][0] }}</span>
                            </div>
                            <div class="table_col2 clickable_cell" id = "test_col" mode="{{ data['data_mode_list'][loop.index0][0] }}">
                                <div class="sub_row1" id="{{ ids[loop.index0][0][0] }}">
                                    {{ r[0][1]|safe }}
                                </div>
                                <div class="sub_row2">
                                    {% if data['isfull'] != 'true' %}
                                        {{ icons[loop.index0][0]|safe }}
                                    {% endif %}
                                </div>
                                <div class="sub_row3" id="{{ ids[loop.index0][1][0] }}">
                                    {{ r[1][1]|safe }}
                                </div>
                            </div>
                            <div class="table_col3">
                                <div class="sub_row1 tooltip1">
                                    {{ r[0][2]|safe }}
                                    {% if data['isfull'] != 'true' %}
                                    <span class="tooltiptext1">
                                        {% if 'infinity' in r[0][2] %}
                                            Very common
                                        {% elif 'common' in r[0][2] %}
                                            Common name
                                        {% elif 'rare' in r[0][2] %}
                                            Rare name
                                        {% else %}
                                            Unique name
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                </div>
                                <div class="sub_row2">
                                </div>
                                <div class="sub_row3  tooltip1">
                                    {{ r[1][2]|safe }}
                                    {% if data['isfull'] != 'true' %}
                                    <span class="tooltiptext1">
                                        {% if 'infinity' in r[1][2] %}
                                            Very common
                                        {% elif 'common' in r[1][2] %}
                                            Common name
                                        {% elif 'rare' in r[1][2] %}
                                            Rare name
                                        {% else %}
                                            Unique name
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="{% if 'name_swap' in icons[loop.index0][2] %}names_big_cell clickable_big_cell{% endif %}">
                            <div class="table_col4 table_names {% if 'name_swap' not in icons[loop.index0][2] %}clickable_cell{% endif %}" mode="{{ data['data_mode_list'][loop.index0][1] }}">
                                <div class="sub_row1" id="{{ ids[loop.index0][0][1] }}">
                                    {{ r[0][3]|safe }}
                                </div>
                                <div class="sub_row2">
                                    {% if data['isfull'] != 'true' %}
                                        {{ icons[loop.index0][1]|safe }}
                                    {% endif %}
                                </div>
                                <div class="sub_row3" id="{{ ids[loop.index0][1][1] }}">
                                    {{ r[1][3]|safe }}
                                </div>
                            </div>
                            <div class="table_col4_5">
                                {{ icons[loop.index0][2]|safe }}
                            </div>
                            <div class="table_col5 table_names {% if 'name_swap' not in icons[loop.index0][2] %}clickable_cell{% endif %}" mode="{{ data['data_mode_list'][loop.index0][2] }}">
                                <div class="sub_row1" id="{{ ids[loop.index0][0][2] }}">
                                    {{ r[0][4]|safe }}
                                </div>
                                <div class="sub_row2">
                                    {% if data['isfull'] != 'true' %}
                                        {{ icons[loop.index0][3]|safe }}
                                    {% endif %}
                                </div>
                                <div class="sub_row3" id="{{ ids[loop.index0][1][2] }}">
                                    {{ r[1][4]|safe }}
                                </div>
                            </div>
                            </div>
                            <div class="table_col6">
                                <div class="sub_row1 tooltip1">
                                    {{ r[0][5]|safe }}
                                    {% if data['isfull'] != 'true' %}
                                    <span class="tooltiptext1">
                                        {% if 'infinity' in r[0][5] %}
                                            Very common
                                        {% elif 'common' in r[0][5] %}
                                            Common name
                                        {% elif 'rare' in r[0][5] %}
                                            Rare name
                                        {% else %}
                                            Unique name
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                </div>
                                <div class="sub_row2">
                                </div>
                                <div class="sub_row3 tooltip1">
                                    {{ r[1][5]|safe }}
                                    {% if data['isfull'] != 'true' %}
                                    <span class="tooltiptext1">
                                        {% if 'infinity' in r[1][5] %}
                                            Very common
                                        {% elif 'common' in r[1][5] %}
                                            Common name
                                        {% elif 'rare' in r[1][5] %}
                                            Rare name
                                        {% else %}
                                            Unique name
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="table_col7 clickable_cell" mode="{{ data['data_mode_list'][loop.index0][3] }}">
                                <div class="sub_row1" id="{{ ids[loop.index0][0][3] }}">
                                    {{ r[0][6]|safe }}
                                </div>
                                <div class="sub_row2">
                                    {% if data['isfull'] != 'true' %}
                                    {{ icons[loop.index0][4]|safe }}
                                    {% endif %}
                                </div>
                                <div class="sub_row3" id="{{ ids[loop.index0][1][3] }}">
                                    {{ r[1][6]|safe }}
                                </div>
                            </div>
                            <div class="table_col8 clickable_cell" mode="{{ data['data_mode_list'][loop.index0][4] }}">
                                <div class="sub_row1" id="{{ ids[loop.index0][0][4] }}">
                                    {{ r[0][7]|safe }}
                                </div>
                                <div class="sub_row2">
                                    {% if data['isfull'] != 'true' %}
                                    {{ icons[loop.index0][5]|safe }}
                                    {% endif %}
                                </div>
                                <div class="sub_row3" id="{{ ids[loop.index0][1][4] }}">
                                    {{ r[1][7]|safe }}
                                </div>
                            </div>
                            <div class="table_col9 clickable_cell" mode="{{ data['data_mode_list'][loop.index0][5] }}">
                                <div class="sub_row1" id="{{ ids[loop.index0][0][5] }}">
                                    {{ r[0][8]|safe }}
                                </div>
                                <div class="sub_row2">
                                    {% if data['isfull'] != 'true' %}
                                    {{ icons[loop.index0][6]|safe }}
                                    {% endif %}
                                </div>
                                <div class="sub_row3" id="{{ ids[loop.index0][1][5] }}">
                                    {{ r[1][8]|safe }}
                                </div>
                            </div>
                            <div class="table_col10">
                                <div class="choice-panel">
                                    <div class="choice-label">
                                        <span class="fill"></span>
                                        <span>H</span>
                                        <span class="fill"></span>
                                        <span>M</span>
                                        <span class="fill"></span>
                                        <span>L</span>
                                        <span class="fill"></span>
                                        <span>L</span>
                                        <span class="fill"></span>
                                        <span>M</span>
                                        <span class="fill"></span>
                                        <span>H</span>
                                        <span class="fill"></span>
                                    </div>
                                    <br/>
                                    <ul class="mrate choice-button">
                                        <li class="ion-android-arrow-back"></li>
                                        <li class="ion-android-radio-button-off input_radio q-choices" id="p{{ r[0][0]|safe }}a1" status="{% if 'p'+r[0][0]+'a1' in data['saved_answers'] %}on{% endif %}"></li>
                                        <li class="ion-android-remove"></li>
                                        <li class="ion-android-radio-button-off input_radio q-choices" id="p{{ r[0][0]|safe }}a2" status="{% if 'p'+r[0][0]+'a2' in data['saved_answers'] %}on{% endif %}"></li>
                                        <li class="ion-android-remove"></li>
                                        <li class="ion-android-radio-button-off input_radio q-choices" id="p{{ r[0][0]|safe }}a3" status="{% if 'p'+r[0][0]+'a3' in data['saved_answers'] %}on{% endif %}"></li>
                                        <li class="ion-android-add"></li>
                                        <li class="ion-android-radio-button-off input_radio q-choices" id="p{{ r[0][0]|safe }}a4" status="{% if 'p'+r[0][0]+'a4' in data['saved_answers'] %}on{% endif %}"></li>
                                        <li class="ion-android-remove"></li>
                                        <li class="ion-android-radio-button-off input_radio q-choices" id="p{{ r[0][0]|safe }}a5" status="{% if 'p'+r[0][0]+'a5' in data['saved_answers'] %}on{% endif %}"></li>
                                        <li class="ion-android-remove"></li>
                                        <li class="ion-android-radio-button-off input_radio q-choices" id="p{{ r[0][0]|safe }}a6" status="{% if 'p'+r[0][0]+'a6' in data['saved_answers'] %}on{% endif %}"></li>
                                        <li class="ion-android-arrow-forward"></li>
                                    </ul>
                                    <br/>
                                    <ul class="choice-result">
                                        <li class="diff">Different</li>
                                        <li class="same">Same</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                        {% endfor %}
                    </div>
                </div>

                <div id="feedback">
                </div>

                <div class="submit_div">
                    <button id="save_exit" class="submit_button" style="">Save & Exit</button>
                    <button id="button_next_rl" class="submit_button" style="">Submit</button>
                </div>
            </div>
            <!-- End of div content -->
        </div>
        <!-- End of div wrapper -->
        <!-- {% include "footer.html" ignore missing %} -->
    </body>
</html>