.progress-custom {
}

.progress-custom-progress{
    width: 30%;
    float: left;
    margin-bottom: 0;
    vertical-align: middle;
}

.progress-custom-value{
    width: 100px;
    float: left;
    vertical-align: middle;
    padding: 0 4px; 
}
    