/* selection panel style */

.choice-panel {
    height: 120px;
}

.choice-label {
  width: 245px;
  float: left;
  margin-left: 105px;
  margin-top: 15px;
  vertical-align: bottom;
  list-style-type: none;
}

.choice-label .fill {
  width: 16.2px;
  height: 23px;
}

.choice-label span {
  float: left;
  width: 21.1px;
  height: 23px;
  font-size: 18px;
  text-align: center;
}

.icon-hidden {
  visibility:hidden
}

.mrate {
  display: inline-block; 
  padding: 0;
  margin: 0;
  font-size: 26px;
}

.mrate li {
  list-style-type: none;
  float: left;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
}

.choice-result {
  display: inline-block;
  width: 250px;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 16px;
}

.diff {
  float: left;
  padding-left: 2px;
  padding-right: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  /*border-color: red;*/
}

.same {
  float: right;
  padding-left: 2px;
  padding-right: 2px;
  font: bold;
  border-style: solid;
  border-width: 2px;
  /*border-color: green;*/
  border-color: transparent;
}