/*
from old site.css
*/
.wrapper {
    width: 80%;
    margin: 0 auto;
}

.container-fluid {
    padding-top: 10px;
}

.logo {
    font-size: 28px;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-ele {
    margin-left: 20px;
}

.project-progress {
    margin-bottom: 10px;
    width: 80%;
}

.title-bar {
    margin-top: 20px;
}

.project-title {
    float: left;
}

.create-project {
    float:right;
}

html {
    font-size: 18px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}


#title h3 {
    font-size: 36px;
    margin-bottom: 0px;
}

.submit_button {
    background-color: #30819C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #b3b3b3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: not-allowed;
}

.tooltiptext1 {
    visibility: hidden;
    width: 100px;
    background-color: #ADD8E6;
    color: #000;
    text-align: center;
    border-radius: 3px;
    padding: 0 2px 0 2px;
    font-size: 14px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    margin-top: -15px;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

.tooltiptext2 {
    visibility: hidden;
    width: 100px;
    background-color: #ADD8E6;
    color: #000;
    text-align: center;
    border-radius: 3px;
    padding: 0 2px 0 2px;
    font-size: 14px;
    line-height: 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    margin-top: 30px;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.card-header a {
    text-decoration: none;
    color: black;
}

.card-body a {
    text-decoration: none;
}

.guide-links {
    width: 25%;
    float: right;
    margin-top: 50px;
}

.guide-content {
    width: 60%;
    margin-top: 50px;
}

.guide-content h2 {
    margin-top: 40px;
}

.guide-content img {
    width: 800px;
    height: 400px;
}

.guide-content table {
    width: 100%;
}

.guide-content table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

.guide-content th, td {
    padding: 15px;
    text-align: left;
}



/*
    stylesheet for the record linkage page.
*/

#wrapper {
    width: 1800px;
    margin: 20px 50px 20px 50px;
}

#title {
    width: 1800px;
    text-align: center;
    margin-bottom: 2px;
}

#content {
    margin-top: 10px;
}

#table {
    width: 1750px;
}

#table_head {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    background-color: #ADD8E6;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 16px;
    font-family: Monaco;
    text-align: center;
}

.table_col1 {
    width: 100px;
    float: left;
}

.table_col2 {
    width: 190px;
    float: left;
}

.table_col3 {
    width: 80px;
    float: left;
}

.table_col4 {
    width: 190px;
    float: left;
    padding-left: 5px;
}

.table_col4_5 {
    width: 80px;
    height: 124px;
    float: left;
}

.table_col5 {
    width: 190px;
    float: left;
    padding-left: 5px;
}

.table_col6 {
    width: 80px;
    float: left;
}

.table_col7 {
    width: 165px;
    float: left;
}

.table_col8 {
    width: 80px;
    float: left;
}

.table_col9 {
    width: 80px;
    float: left;
}

.table_col10 {
    width: 460px;
    float: left;
}

#table_content {

}

.table_row {
    height: 124px;
    color: #333;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    font-size: 16px;
    font-family: Consolas, monaco, monospace, Courier, Droid Sans Mono;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.table_row_odd {
    background-color: #FFFFFF;
}

.table_row_even {
    background-color: #EAF2FF;
}

.img_wrong_tutorial {
    position: absolute; 
    left: 1735px; 
    margin-top:35px; 
    height: 38px; 
    width: 38px;
}

.img_wrong_main {
    position: absolute; 
    left: 1690px; 
    margin-top: 37px; 
    height: 38px; 
    width: 38px;
}


.table_row_right {
    border-right: green;
    border-right-width: 15px;
    border-right-style: solid;

   /* border-color: green;
    border-width: 0.5px;
    border-style: solid;*/

  /*  background-color: #f2ffcc;
    border-bottom: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: grey;*/
}

.table_row_wrong {

    border-right: red;
    border-right-width: 15px;
    border-right-style: solid;


/*    border-color: red;
    border-width: 0.5px;
    border-style: solid;*/

/*    background-color: #ffd6cc;
    border-bottom: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: grey;*/
}

.pair_number {
    line-height: 120px;
    color: #808080;
}

.sub_row1 {
    width: inherit;
    height: 42px;
    display: table-cell;
    vertical-align: bottom;
}

.sub_row2 {
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
}

.sub_row3 {
    width: inherit;
    height: 42px;
    display: table-cell;
    vertical-align: top;
}

.space_icon_full {
    width: 8.5px;
    height: 25px;   
}


.space_icon {
    width: 0px;
    height: 25px;
}

.diff_icon {
    width: 35px;
    height: 25px;
}

.replace_icon {
    width: 13px;
    height: 13px;
}

.indel_icon {
    width: 13px;
    height: 13px;
}

.transpose_icon {
    width: 20px;
    height: 20px;
}

.freq_icon {
    width: 20px;
    height: 20px;
}

.missing_icon {
    width: 20px;
    height: 20px;
}

.swap_date_row {
    text-align: left;
    padding-left: 41px;
}

.swap_date_icon {
    width: 35px;
    height: 35px;
}

.name_swap_icon {
    width: 70px;
    height: 70px;
    margin-top: 24px;
}
.transpose_text {
    color: #2196F3;
}

.indel_text {
    color: #008000;
}

.replace_text {
    color: #990000;
}

.table_names {
    text-align: left;
}

.hidden_element {
    visibility: hidden;
}

input[type="radio"] {
    display: none;
}

.submit_div {
    width: 1800px;
    margin-top: 10px;
    text-align: center;
}

.submit_button {
    background-color: #30819C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.clickable_cell {
    border-style: outset;
    border-width: 2px;
    border-color: transparent;
}

.table_row_odd .clickable_cell:hover {
    /*background-color: #f2f2f2;*/
    border-style: outset;
    border-width: 2px;
    border-color: hsl(0, 0%, 87%);
    cursor: pointer;
}

.table_row_even .clickable_cell:hover {
    /*background-color: #cce0ff;*/
    border-style: outset;
    border-width: 2px;
    border-color: hsl(217, 100%, 87%);
    cursor: pointer;
}

.names_big_cell {
    width: 460px;
    height: 124px;
    float: left;
    border-style: outset;
    border-width: 2px;
    border-color: transparent;
}

.names_big_cell .table_col5 {
    width: 184px;
}

.table_row_odd .clickable_big_cell:hover {
    border-style: outset;
    border-width: 2px;
    border-color: hsl(0, 0%, 87%);
    cursor: pointer;
}

.table_row_even .clickable_big_cell:hover {
    border-style: outset;
    border-width: 2px;
    border-color: hsl(217, 100%, 87%);
    cursor: pointer;
}

.privacy-budget-div {
    width: 1620px;
    /*
    border-left-style: solid;
    border-left-width: 2px;
    border-color: #1e5162;
    */
    padding: 5px 5px 0px 0px;
    vertical-align: bottom;
    display: inline-block;
}

.privacy-budget-div progress{
    width: 1600px;
    height: 20px;
}

.privacy-budget-div-empty {
    width: 820px;
    vertical-align: bottom;
    display: inline-block;
}

.page-number-div {
    position: absolute;
    width: 110px;
    /*vertical-align: bottom;*/
    display: inline-block;
    /*margin-left: 15px;*/
    left: 1700px;
    /*top: 75px;*/
}

.page-number-div-meter {
    width: 110px;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 15px;
}

.tool-bar {
    width: 100%;
    margin-bottom: 10px
}

/*
.privacy-budget-div {
    width: 800px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    padding: 5px 5px 5px 5px;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 645px;
}

.page-number-div {
    width: 300px;
    vertical-align: bottom;
    display: inline-block;
}

.tool-bar {
    width: 100%;
    float: left;
    margin-bottom: 10px
}
*/
